@import "tailwindcss";


@font-face {
  font-family: 'monospace';
  src: url('/monospace.woff2') format('woff2');
}

*{

  box-sizing: border-box;
  font-family: 'monospace', sans-serif;
  font-weight: 400;
  font-size: .9rem;
  text-transform: uppercase;
}

body {

  background-color: #74716E;
}
